Dependencies
The following libraries are used in this project:

pandas
numpy
matplotlib
seaborn
nltk
transformers
scikit-learn

-----

pandas==1.5.3
numpy==1.25.2
matplotlib==3.7.1
seaborn==0.13.1
nltk==3.8.1
transformers==4.35.0
scikit-learn==1.2.2
